---
export const prerender = false
import Layout from '../../layouts/Layout.astro'
const { post } = Astro.params
console.log(post);
---

<Layout title="Shorvan | Redirect to original URL" description="Redirect to original URL from Shorvan">
  <div class="flex h-screen bg-gray-900 text-white">
    <div class="m-auto text-center" id="redirectMessage" data-post={post}>
      <p class="text-xl font-semibold">Redirecting...</p>
      <p class="text-gray-400">You will be redirected shortly.</p>
    </div>
  </div>
</Layout>
