---
export const prerender = false
import Layout from '../layouts/Layout.astro'
const { shortCode } = Astro.params
---

<Layout title="Shorvan | Redirect to original URL" description="Redirect to original URL from Shorvan">
  <div class="flex h-screen bg-gray-900 text-white">
    <div class="m-auto text-center" id="redirectMessage" data-shortcode={shortCode}>
      <p class="text-xl font-semibold">Redirecting...</p>
      <p class="text-gray-400">You will be redirected shortly.</p>
    </div>
  </div>
  <script type="module">
    async function fetchOriginalUrlAndRedirect() {
      const shortCode = document.getElementById('redirectMessage').getAttribute('data-shortcode')
      try {
        const response = await fetch(`https://shorvan-backend.fly.dev/short-link/${shortCode}`, {
          method: 'GET',
          headers: {
            'x-security-token': 'secret',
          },
        })

        console.log(response);
        if (!response.ok) throw new Error('Not found')
        const data = await response.json()
        window.location.href = data.original_url
      } catch (error) {
        document.getElementById('redirectMessage').innerHTML = `<p class="text-xl font-semibold text-red-500">URL not found.</p>`
      }
    }

    fetchOriginalUrlAndRedirect()
  </script>
</Layout>
