---
export const prerender = false
import Layout from '../layouts/Layout.astro'
const { shortUrl } = Astro.params
---

<Layout title="Shorvan | Redirect to original URL" description="Redirect to original URL from Shorvan">
  <div class="flex h-screen bg-gray-900 text-white">
    <div class="m-auto text-center" id="redirectMessage" data-shorturl={shortUrl}>
      <p class="text-xl font-semibold">Redirecting...</p>
      <p class="text-gray-400">You will be redirected shortly.</p>
    </div>
  </div>
  <script type="module">
    async function updateClickCount() {
      const shortUrl = document.getElementById('redirectMessage').getAttribute('data-shorturl')
      fetch(`https://shorvan-backend.fly.dev/update-click/${shortUrl}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          event: 'click'
        })
      })
    }

    async function fetchOriginalUrlAndRedirect() {
      const shortUrl = document.getElementById('redirectMessage').getAttribute('data-shorturl')
      try {
        const response = await fetch(`https://shorvan-backend.fly.dev/short-link/${shortUrl}`)
        if (!response.ok) throw new Error('Not found')
        const data = await response.json()
        window.location.href = data.url
      } catch (error) {
        document.getElementById('redirectMessage').innerHTML = `<p class="text-xl font-semibold text-red-500">URL not found.</p>`
      }
    }

    updateClickCount()
    fetchOriginalUrlAndRedirect()
  </script>
</Layout>
