<footer class="bg-gray-800 text-white text-sm text-center py-4">
  <div class="container mx-auto px-4">
    <div class="flex flex-col items-center justify-between sm:flex-row">
      <div class="py-2">
        Developed by Ivan Cavero | My app is for shortening links
      </div>
      <div class="flex flex-col sm:flex-row sm:items-center py-2">
        <a href="/api" class="hover:underline px-2">API</a>
        <a href="/terms" class="hover:underline px-2">Terms & Conditions</a>
      </div>
    </div>
  </div>
</footer>
