<div class="flex flex-col items-center gap-2 text-center">
    <h1 class="text-3xl font-bold sm:text-5xl md:text-6xl text-gray-50">
        Short URL
    </h1>
    <p class="max-w-[600px] text-gray-300 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
        Simplify your links, track their performance, and witness our community grow in real-time.
    </p>
</div>
