---
const posts = await Astro.glob('@pages/blog/post/*.md');
---

<section class="mx-auto w-full px-4 lg:px-0 bg-gray-800">
    <div class="flex flex-col items-center gap-20 py-12 lg:p-16 xl:p-24">
        <ul class="flex max-w-screen-md flex-col gap-y-4 md:gap-y-6 lg:gap-y-8">
            {posts.map(({ frontmatter }) => (
                <li>
                    <article class="border p-4 transition-transform duration-300 ease-out hover:scale-[1.03] max-h-[530px]">
                        <a href={`blog/${frontmatter.slug}`} class="">
                            <header class="flex justify-between items-center mb-4">
                                <h3 class="font-bold">{frontmatter.title}</h3>
                                <time datetime="2024-04-11T00:00:00.000Z">
                                    {frontmatter.date}
                                </time>
                            </header>
                            <div class="-mx-4">
                                <img
                                    src="https://placehold.co/1500x640"
                                    width="1500"
                                    height="640"
                                    alt="Astro 4.6"
                                    class="my-4"
                                    loading="lazy"
                                    decoding="async"
                                />
                            </div>
                            <div class="mt-6">
                                <p class="line-clamp-4">
                                    {frontmatter.description}
                                </p>
                            </div>
                        </a>
                    </article>
                </li>
            ))}
        </ul>
    </div>
</section>
